<div style="	text-align: center">
  <h1 style="padding:0 0 30px;
  text-transform:uppercase;
  font-size:3rem;
  font-weight:600;
  letter-spacing:.01rem;
  color:#8093A7;">Technoshop <span style="padding:0 0 30px;
  text-transform:uppercase;
  font-size:0.9rem;
  font-weight:600;
  letter-spacing:.01rem;
  color:black;">welcome to your life</span> </h1>
	<ul style="	list-style: none;
  display: inline-table;">
				<li style="display: inline;"><a routerLink="/" routerLinkActive="router-link-active" style="display: block;
          float: left;
          height: 50px;
          background: #F3F5FA;

          text-align: center;
          padding: 30px 20px 0 60px;
          position: relative;
          margin: 0 10px 0 0;

          font-size: 20px;
          text-decoration: none;
          color:#8093A7;"><i class="fa fa-home" aria-hidden="true">Home</i></a></li>
          		<li style="display: inline;"><a routerLink="telephone"  style="display: block;
                float: left;
                height: 50px;
                background: #F3F5FA;

                text-align: center;
                padding: 30px 20px 0 60px;
                position: relative;
                margin: 0 10px 0 0;

                font-size: 20px;
                text-decoration: none;
                color:#8093A7;"><i class="fa fa-home" aria-hidden="true"> Telephone</i></a></li>
                		<li style="display: inline;"><a routerLink="tablet" style="display: block;
                      float: left;
                      height: 50px;
                      background: #F3F5FA;

                      text-align: center;
                      padding: 30px 20px 0 60px;
                      position: relative;
                      margin: 0 10px 0 0;

                      font-size: 20px;
                      text-decoration: none;
                      color:#8093A7;"><i class="fa fa-home" aria-hidden="true">Tablet</i></a></li>
                      		<li style="display: inline;"><a routerLink="pc" style="display: block;
                            float: left;
                            height: 50px;
                            background: #F3F5FA;

                            text-align: center;
                            padding: 30px 20px 0 60px;
                            position: relative;
                            margin: 0 10px 0 0;

                            font-size: 20px;
                            text-decoration: none;
                            color:#8093A7;"><i class="fa fa-home" aria-hidden="true">PC</i></a></li>
                            		<li style="display: inline;"><a routerLink="accessoire"  style="display: block;
                                  float: left;
                                  height: 50px;
                                  background: #F3F5FA;

                                  text-align: center;
                                  padding: 30px 20px 0 60px;
                                  position: relative;
                                  margin: 0 10px 0 0;

                                  font-size: 20px;
                                  text-decoration: none;
                                  color:#8093A7;"><i class="fa fa-home" aria-hidden="true">Accessoire </i></a></li>
                		<li style="display: inline;"><a routerLink="signin" style="display: block;
                      float: left;
                      height: 50px;
                      background: #F3F5FA;

                      text-align: center;
                      padding: 30px 20px 0 60px;
                      position: relative;
                      margin: 0 10px 0 0;

                      font-size: 20px;
                      text-decoration: none;
                      color:#8093A7;"><i class="fa fa-home" aria-hidden="true"> SignIn</i></a></li>

	</ul>
</div>
<hr/>
<router-outlet></router-outlet>
<hr/>

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Le commerce en ligne, ou commerce électronique, est l'échange pécuniaire de biens,
            de services ou d'informations par l'intermédiaire des réseaux informatiques, notamment Internet.<span style="color:red">Nous sommes number 1</span></p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">telephone</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">tablet</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">pc</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">accessoire</a></li>
            <li><a href="http://scanfcode.com/category/android/">signin</a></li>

          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
       <a href="#">Scanfcode</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
